# refer to https://stackoverflow.com/questions/46142990/configure-minikube-kubernetes-webhook-authentication-authorization
apiVersion: v1
kind: Config
clusters:
  - name: warden
    cluster:
      server: https://#LOCAL_IP:31443/api/v1/warden/authenticate
      insecure-skip-tls-verify: true
users:
  - name: api-server

current-context: webhook
contexts:
  - context:
      cluster: warden
      user: api-server
    name: webhook